@charset 'UTF-8';
@import 'reset';

.slideWrap {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .slides {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        transform: translateX(0);

        > li {
            float: left;

            > img {
                width: 400px;
                height: 400px;
            }
        }
    }
    .slides.animated {
        transition: .5s;
    }
}
.btn {
    width: 400px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    > span {
        display: block;
        width: 100px;
        height: 10px;
        background: #ccc;
        border-radius: 5px;
        cursor: pointer;
    }
}